<!DOCTYPE html>
<html>
<head>
    <title>Уведомления</title>
</head>
<body>
    <h1>Уведомления</h1>
    <ul id='messages'>
    </ul>
    <script>
        var ws = new WebSocket(`ws://websocket-1-7x18.onrender.com/ws/socket-server/`);
        console.log("Connected")
        ws.onmessage = function (event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
        };
    </script>
</body>
</html>
